.config/nvim/plugged/
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo.json
.local/bin/virtualenv
.local/bin/flask
.themes/WhiteSur-dark-hdpi/
.themes/WhiteSur-dark-solid/
.themes/WhiteSur-dark-xhdpi/
.themes/WhiteSur-dark/
.themes/WhiteSur-light-hdpi/
.themes/WhiteSur-light-solid/
.themes/WhiteSur-light-xhdpi/
.themes/WhiteSur-light/
.local/share/Trash/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/nautilus/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/xorg/
.local/share/Google/
.local/share/mime/
.local/share/vifm/
.local/share/vlc/
.config/gtk-3.0/bookmarks
.local/bin/pgweb_linux_386
.local/share/applications/
.local/share/heroku/
.local/share/keyrings/
.local/share/pgadmin4*
