# START DWM
*.rej
*.orig
*.diff

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# END DWM

# Other
.local/share/vifm/Trash
.config/vifm/scripts/README
.config/vifm/vifm-help.txt
.config/vifm/vifminfo.json
.local/share/nautilus/
.local/share/recently-used.xbel
.local/share/vifm/
.config/vifm/vifminfo.json
.local/share/nvim/shada/main.shada
.local/share/xorg/Xorg.0.log
.local/share/xorg/Xorg.0.log.old
.config/Code - OSS/Backups/
.config/Code - OSS/Cache/
.config/Code - OSS/CachedData/
.config/Code - OSS/CachedExtensions/
.config/Code - OSS/Code Cache/
.config/Code - OSS/Cookies
.config/Code - OSS/Cookies-journal
.config/Code - OSS/Crash Reports/
.config/Code - OSS/Dictionaries/
.config/Code - OSS/GPUCache/
.config/Code - OSS/Local Storage/
.config/Code - OSS/Network Persistent State
.config/Code - OSS/Preferences
.config/Code - OSS/Session Storage/
.config/Code - OSS/TransportSecurity
.config/Code - OSS/User/globalStorage/
.config/Code - OSS/User/workspaceStorage/
.config/Code - OSS/exthost Crash Reports/
.config/Code - OSS/languagepacks.json
.config/Code - OSS/logs/
.config/Code - OSS/machineid
.config/Code - OSS/rapid_render.json
.config/Code - OSS/storage.json
.config/Code - OSS/CachedExtensionVSIXs/
.local/share/gvfs-metadata/
.local/share/zathura/
.local/share/
.local/bin/pip
.local/bin/pip3
.local/bin/pip3.9
.local/bin/virtualenv
.local/bin/wheel
.local/lib/
pix/thumb/
pix/ieee/
.config/nvim/.netrwhist
