! Screen scale
Xft.dpi: 120


! Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0


! URxvt Customization
URxvt.font: xft:FiraCode Nerd Font Mono:size=14
URxvt.scrollBar: false
URxvt.underlineURLs: true
URxvt.internalBorder: 35

! Colors Monokai
*.foreground    : #eeffff
*.background    : #212121
*.cursorColor   : #eeffff
! *fading         : 35
*fadeColor      : #404040

! black
*.color0        : #2b2b2b
*.color8        : #404040

! red
*.color1        : #f07178
*.color9        : #ff8b92

! green
*.color2        : #c3e88d
*.color10       : #ddffa7

! yellow
*.color3        : #ffcb6b
*.color11       : #ffe585

! blue
*.color4        : #82aaff
*.color12       : #9cc4ff

! magenta
*.color5        : #c792ea
*.color13       : #e1acff

! cyan
*.color6        : #89ddff
*.color14       : #a3f7ff

! white
*.color7        : #ffffff
*.color15       : #ffffff

*.accentColor   : #f07178
*.urgentColor   : #ffcb6b

! For transparency composition
urxvt*depth: 32
urxvt*background: [85]#212121

